/* ==================== FOOTER ==================== */

#footer {
	display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "personel . keyboard";

    align-items: center;

	height: 10rem;
	width: 100vw;
	padding: 0px 3.75rem;

	position: fixed;
	bottom: 0px;
	z-index: 1;
}



// ==================== FOOTER CONTENT  ==================== \\

    // ==================== FOOTER PERSONEL  ==================== \\


    #footer-personel-footprint {
        grid-area: personel;

		> a {
			position: relative;
			z-index: 2;
			cursor: pointer;
		}
    }

    	#footer-github, #footer-tmdb {
    		fill: $c-theme1;
            margin: 0px .63rem;
			width: 3.5rem;
			height: 3.5rem;

		}


	// ==================== FOOTER KEYBOARD  ==================== \\


    #footer-keyboard {
        grid-area: keyboard;

    	display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            ". key38 ."
            "key37 key40 key39";

		transform: translateY(10rem);
		transition: 0.3s;
		transition-timing-function: ease-out;
		opacity: 1;
    }

        #footer-key-38 { grid-area: key38}
        #footer-key-37 { grid-area: key37}
        #footer-key-40 { grid-area: key40}
        #footer-key-39 { grid-area: key39}

    	.footer-keys {
    		color: $c-white;
    		font-size: .63rem !important;
    		font-weight: 100;

    		padding: .88rem;
    		border-radius: .19rem;
    		box-shadow: 0 0.1em 0 0.05em $c-theme3;
    		margin: 0px .25rem .38rem;
    		background-color: $c-theme1;
    		transition: all 0.3s;
    	}


	.show-keys {
		transform: translateY(0) !important;
		opacity: 0;
	}
