/* ==================== HEADER ==================== */


#header {
    background-color: $c-g-1;
    position: relative;
    z-index: 3;
}

#header-container {

    max-width: 87.5rem;
    width: 100%;
    height: 9.38rem;

    padding: 0px 3.13rem;
    margin: 0px auto;

    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "headerLogo . headerNav headerSearch";

    align-items: center;

    //border-bottom: .13rem solid $c-theme1;
}


// ==================== HEADER CONTENT  ==================== \\

    // ==================== HEADER LOGO  ==================== \\

    #header-logo {
        grid-area: headerLogo;

        display: grid;
        grid-template-columns: auto auto;

        align-items: center;

        background-color: $c-theme1;
        padding: .63rem 4.38rem .63rem .63rem;

        color: white;
        cursor: pointer;
    }

        #header-logo-image {

            height: 3rem;
        }

        #header-logo-title {
            @include headerLogoTitle;
        }

    // ==================== HEADER NAVIGATION  ==================== \\

    #header-navigation {
        grid-area: headerNav;
    }

        #header-navigation-ul {
            display: grid;
            grid-template-columns: auto auto auto auto auto;

            margin-right: 1.25rem;
        }

            .header-navigation-elements {
                height: 9.38rem;
                display: grid;
                align-items: center;
                cursor: pointer;

                @include headerNav;
                padding: 0px 1.25rem;
            }


    // ==================== HEADER SEARCH  ==================== \\

    #header-search {
        grid-area: headerSearch;

        display: grid;
        grid-template-columns: 1fr auto;

        cursor: pointer;
    }


    #header-search-input {
        width: 0px;
        transition: 0.3s;
        border: none;
        color: $c-w-5;
        background-color: rgba($c-theme2, 0);
        padding-left: 1.25rem;

        @include headerSearch;
    }


	#header-search-input::selection {
		background-color: $c-theme3;
	}

    #header-search[data-active="true"] {

        > #header-search-input {
            width: 20rem;
            background-color: $c-theme1;
            transform: translateX(4.75rem);
        }

        > #header-search-logo {
            border-left-color: white;
            color: white;
        }
    }



        #header-search-logo {
            border-left: .19rem solid $c-theme1;
            padding: .94rem 1.56rem;
            font-size: 1.63rem;
            z-index: 2;
            transition: 0.3s;
        }
