/* ==================== MAIN ==================== */


#main {
    background-color: $c-w-5;
}

    .main-settings {
        display: none !important;
    }

    .main-settings[data-active="true"] {
        display: grid !important;
    }

    #main-home {
        width: 100%;
        max-width: 1400px;

        margin: 0px auto;
        padding: 0px 50px;

        justify-content: center;
        align-items: center;
    }

    #main-wall {

        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto 1fr;

        overflow-y: auto;
        background-color: $c-w-5;

        padding: 40px 20%;
    }

    #main-actors {
        grid-template-columns: 265px 1.75fr 1.75fr;
        grid-template-rows: 350px 1fr;
        grid-template-areas:
            "profile    description filmography"
            "trademark   trademark     filmography";
            grid-gap: 30px;

        width: 100%;
        max-width: 1400px;
        margin: 0px auto;

        padding: 50px;
    }

    #main-genre {
        width: 100%;
        max-width: 1200px;
        margin: 0px auto;

        display: grid;
        grid-template-rows: auto 1fr;
    }

    #main-gallery {
        width: 100%;
        max-width: 1400px;
        margin: 0px auto;

        display: grid;
        grid-template-rows: auto 1fr;
    }

    #main-discover {
        width: 100%;
        max-width: 1200px;
        margin: 0px auto;

        display: grid;
        grid-template-rows: auto 1fr;
        background-color: orange;
    }


    #main-about {
        background-color: green;
    }
