// ==================== MAIN GALLERY  ==================== \\

    // MAIN GALLERY
    #main-gallery {

        > * {
            margin-bottom: 40px;
        }
    }



    // ======================= MAIN ARRANGE =======================
    #mg-arranger-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;

        border-bottom: 4px double rgba($c-g-5, 0.5);
        padding: 20px 20px;

        background-color: $c-g-1;

    }

        .mg-container {
            display: grid;
            grid-template-rows: auto 1fr;
        }


        // FILTER
        #mg-filtering {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr auto;
        }

                .mg-slider-container {
                    display: grid;
                    align-items: center;
                    width: 250px;
                    margin-left: 10px;
                }

                    .mg-slider-settings {
                        height: 10px;
                        margin: 30px 0px;
                    }

                .mg-slider-container-vertical {
                    display: grid;
                    justify-content: center;
                    align-items: center;

                    height: 240px;
                    width: 100px;
                }

                    .mg-slider-settings-vertical {
                        height: 200px;
                        width: 12px;
                    }



        // SORTER
        #mg-sorting {
            display: grid;
            grid-template-rows: 1fr 1fr;

            > * {
                border: 1px solid black;
            }
        }


        // Text Classes

        .mg-header-xl {
            border-bottom: 1px solid $c-theme4;
            padding-bottom: 10px;
            @include mwsH3Header;

            > span {
                padding-right: 15px;
            }
        }

        .mg-header-m-upper {
            @include mgHeaderMUpper;
            border-bottom: 1px solid $c-g-3;
            padding-bottom: 3px;
            width: 80%;
        }

        .mg-header-m-lower {
            @include mgHeaderMLower;

        }

        .mg-header-s {
            @include mgHeaderS;

        }


    // ======================= MAIN MOVIE =======================
    #mg-movie-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0px 20px;
    }

        .mg-movie-item {
            display: grid;
            grid-template-rows: auto 1fr auto;

            width: 160px;
            height: 300px;
            border: 1px solid $c-g-5;
            margin: 10px 10px 60px;
        }

            .mg-movie-image {
                background-repeat: no-repeat;
                background-size: cover;
                height: 240px;
                width: 100%;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 15px 0px;
            }

            .mg-movie-title {
                @include mgMovieTitle;
                padding-top: 10px;
            }

            .mg-movie-year {
                @include mgMovieYear;
                padding-bottom: 10px;
            }
