// ==================== MAIN ACTORS  ==================== \\


    // MAIN ACTORS SEARCH

    #main-actors {
        > * {
            box-shadow: rgba(73, 89, 106, 0.1) 0px 0px 16px 0px;
            padding: 20px;
            padding-bottom: 30px;

            background-color: $c-w-2;
        }
    }

        #main-actors-backdrop {
            grid-area: backdrop;
            overflow: hidden;

        }



        #main-actors-profile {
            padding: 0px;
            grid-area: profile;
            display: grid;

            background-size: cover;
        }

        #main-actors-profile::after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(#0a1829, 0.2);
            background-image: linear-gradient(0deg, rgba(#0a1829, 0.65) 20%, rgba(#33606b, 0.3) 90%);

            position: relative;
        }

            #mad-name {
                color: white;
                position: absolute;
                z-index: 2;

                transform: translateY(305px) translateX(20px);
                @include mapName;
            }


        #main-actors-description {
            grid-area: description;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr auto;
        }

            .mad-biography {
                border-bottom: 1px solid $c-theme4;
                padding-bottom: 10px;
                @include mwsH3Header;

                > span {
                    padding-right: 10px;
                }
            }

            #mad-biography {
                margin: 20px 0px;
                font-size: 14px;
                height: 155px;
                overflow: hidden;
                text-overflow: ellipsis;
                @include mwsPItem;
            }

            .mad-personel {
                display: grid;
                grid-template-columns: 120px 1fr;
                grid-template-rows: auto;
            }

                .mad-personel-text, .mad-personel-content {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 1fr;

                    align-items: center;
                    > span {
                        margin: 5px 0px;
                    }
                }

                .mad-personel-text > span {
                    @include mapPersonel;

                    > span {
                        width: 25px;
                    }
                }

                .mad-personel-content > span {
                    @include mapPersonelContent;
                }



            #mad-stats {
                margin-top: 20px;
            }


        #main-actors-filmography {
            grid-area: filmography;
        }

            #mad-timeline {
                display: grid;
                justify-content: center;
                margin-top: 40px;
                padding: 0px 10px;

                > li {
                    cursor: pointer;
                }
            }



            // TIMELINE AND SETTINGS

            $timeline-border: 2px solid $c-theme1;
            @mixin timelineSettings {
                content:  " ";
                display: block;
                position: absolute;
            }

            .mad-content, .mad-empty {
                @include madContent;
                padding: 5px 15px 5px 100px;;
                position: relative;
            }

                .mad-content::after {
                    @include timelineSettings;

                    height: 100%;
                    border-left: $timeline-border;
                    top: 0px;
                    left: 80px;
                }

                .mad-content::before {
                    @include timelineSettings;

                    width: 10px;
                    top: 50%;
                    left: 80px;
                    border-top: $timeline-border;
                    border-top-style: dotted;
                }

                .mad-year {
                    @include madContent;
                    padding: 10px 0px 10px 25px;
                    position: relative;
                    width: 82px;
                    background-color: $c-theme1;
                    color: white;
                    margin: 10px 0px;
                }

                .mad-year::after {
                    @include timelineSettings;
                    border-right: $timeline-border;

                    content: " ";
                    height: calc(100% + 40px);
                    top: -20px;
                    right: 0px;
                }


            .mad-end, .mad-start {
                content: " ";
                position: relative;
                width: 20px;
                margin-left: 73px;
                top: -3px;
                font-size: 18px;
                color: $c-theme1;
                z-index: 0;
                cursor: default;
            }

            .mad-start {
                font-size: 20px !important;
                margin-left: 72px;
                top: 4px;
            }

            .mad-empty {
                cursor: default !important;
            }

            .mad-empty::after {
                @include timelineSettings;
                height: 100%;
                border-left: $timeline-border;
                top: 0px;
                left: 80px;
            }



        #main-actors-trademark {
            grid-area: trademark;
        }


        #mat-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            padding: 20px;
            padding-top: 50px;
        }

            .mat-item {
                background-size: cover;
                margin: 0px 10px 80px 10px;

                width: 150px;
                height: 225px;
                position: relative;
                z-index: 1;
                transition: 0.3s;
                box-shadow:0 0 12px 0 rgba(0,0,0,.45);

                border-radius: 3px;
                cursor: pointer;
            }

            .mat-item > span {
                @include matItem;
                position: absolute;
                bottom: -40px;
                left: 0px;
                height: 40px;
                width: 100%;
                display: grid;
                align-items: center;
            }
