// ==================== MAIN HOME  ==================== \\
#main-home {
    background-color: transparent;
}

    #main-home-search {
        display: grid;
        grid-template-columns: 600px auto auto;
        grid-template-rows: 1fr;

    }

        #mhs-input {
            display: block;
            border: none;
            background-color: transparent;
            border-bottom: 1px solid $c-g-5;
            color: $c-theme11;
            margin-right: 30px;

            @include mainInput;
        }

        #mhs-input::placeholder {
            color: $c-g-3;
        }

        #mhs-input::selection {
            background-color: $c-theme11;
            color: $c-w-5;
        }

            .mhs-icons-container {
                display: grid;
                align-self: center;
            }

            .mhs-icons {
                color: $c-g-3;
                font-size: 50px !important;
                margin-left: 15px;
                transition: 0.3s;
            }

            .mhs-icons:hover {
                color: $c-theme11;

            }
