// ==================== MAIN GALLERY  ==================== \\

    // MAIN GALLERY
    #main-gallery {

        > * {
            margin-bottom: 40px;
        }
    }



    // ======================= MAIN ARRANGE =======================
    #mg-arranger-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;

        border-bottom: 4px double rgba($c-g-5, 0.5);
        padding: 25px 35px 0px;

        background-color: rgba($c-g-1, 0.5);
    }

        .mg-container {
            display: grid;
            grid-template-rows: auto 1fr;
        }


        // FILTER
        #mg-filtering {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 2.5fr 1fr;
            grid-template-areas:
                "mgGenre mgGenre mgGenre mgYear"
                "mgRating mgRating mgRuntime mgRuntime";
        }

            #mg-genre {
                grid-area: mgGenre;

                > .mg-header-m-upper {
                    width: 85%;
                }
            }

            #mg-year {
                grid-area: mgYear;

                > .mg-header-m-upper {
                    width: 55%;
                }
            }

            #mg-rating {
                grid-area: mgRating;
            }

            #mg-runtime {
                grid-area: mgRuntime;
            }


                .mg-slider-container {
                    display: grid;
                    align-items: center;
                    width: 250px;
                    margin-left: 10px;
                }

                    .mg-slider-settings {
                        height: 10px;
                        margin: 30px 0px;
                    }

                .mg-slider-container-vertical {
                    display: grid;
                    justify-content: center;
                    align-items: center;

                    height: 240px;
                    width: 100px;
                }

                    .mg-slider-settings-vertical {
                        height: 200px;
                        width: 12px;
                    }


        // SORTER
        #mg-sorting {
            display: grid;
            grid-template-rows: 2.5fr 1fr;
        }

            #mg-sortby {
                position: relative;
                padding-bottom: 45px;
            }

            .mg-radiobuttons {
                width: 100%;
                height: 100%;
                margin-top: 10px;

            }

                .mg-radio-label {
                    display: grid;
                    align-items: center;

                    position: relative;
                    padding: 12px 0px 12px 30px;


                    cursor: pointer;
                    font-size: 22px;

                    @include mgHeaderMLower;

                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                .mg-radio-input {
                    display: none;
                }

                .mg-checkmark {
                    position: absolute;
                    top: 1px;
                    left: 0;
                    height: 14px;
                    width: 14px;
                    background-color: $c-w-5;
                    border-radius: 50%;
                    border: 4px solid rgba($c-g-3, 0.6);
                    margin-top: 10px;
                    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
                    transition: 0.2s;
                }

                .mg-checkmark::after {
                    display: block;
                    content: " ";
                    position: absolute;
                    top: -4px;
                    left: -4px;

                    height: 14px;
                    width: 14px;
                    border-radius: 50%;

                    box-shadow: 0 5px 10px rgba(63, 184, 175,0.3);
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                }

                    .mg-radio-label:hover > .mg-radio-input ~ .mg-checkmark {
                        background-color: $c-w-2;
                    }

                    .mg-radio-input:checked ~ .mg-checkmark {
                        border: 4px solid rgba(63, 184, 175, 1);
                        background-color: $c-w-2;
                    }

                    .mg-radio-input:checked ~ .mg-checkmark::after {
                        opacity: 1;
                    }

            #mg-direction {

            }


            #mg-order-container {

            }

            #mg-order {
                background: rgba($c-g-3, 0.3);
                border-radius: 24px;
                display: block;
                height: 24px;
                position: relative;
                width: 60px;

                margin: 15px 60px;

                > input {
                    cursor: pointer;
                }

                > label {
                    @include mgHeaderMLower;
                    cursor: pointer;

                    top: 25%;

                    -webkit-transition: color .2s ease;
                    -moz-transition: color .2s ease;
                    -ms-transition: color .2s ease;
                    -o-transition: color .2s ease;
                    transition: color .2s ease;
                    width: 32px;
                }

                > label:nth-of-type(1) {
                    left: -90%;
                    position: absolute;
                    text-align: right;
                }

                > label:nth-of-type(2) {
                    position: absolute;
                    right: -75%;
                	text-align: left;
                }

                > input {
                    height: 24px;
                    left: 0;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    width: 60px;
                    z-index: 2;
                }

                > input:checked~label:nth-of-type(1) { color: rgba(63, 184, 175, 1); }
                > input:checked~label:nth-of-type(2) { color: $c-g-5; }

                > input~:checked~label:nth-of-type(1) { color: $c-g-5; }
                > input~:checked~label:nth-of-type(2) { color: rgba(63, 184, 175, 1); }

                > input:checked~.toggle {
                	left: 4px;
                }

                > input~:checked~.toggle {
                	left: 36px;
                }

                > input:checked {
                	z-index: 0;
                }
            }



            .toggle {
            	background: rgba(63, 184, 175, 1);
            	border-radius: 50%;
                height: 20px;
                width: 20px;

            	left: 0;
            	position: absolute;
            	top: 2px;

            	-webkit-transition: left .2s ease;
            	-moz-transition: left .2s ease;
            	-ms-transition: left .2s ease;
            	-o-transition: left .2s ease;
            	transition: left .2s ease;

            	z-index: 1;
            }

        // Text Classes

        .mg-header-xl {
            border-bottom: 1px solid $c-theme4;
            padding-bottom: 10px;
            @include mwsH3Header;

            > span {
                padding-right: 15px;
            }
        }

        .mg-header-m-upper {
            @include mgHeaderMUpper;
            border-bottom: 1px solid $c-g-3;
            padding: 15px 3px 5px 0px;
            width: 75%;
        }

        .mg-header-m-lower {
            @include mgHeaderMLower;

        }

        .mg-header-s {
            @include mgHeaderS;

        }


    // ======================= MAIN MOVIE =======================
    #mg-movie-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0px 20px;
    }

        .mg-movie-item {
            display: grid;
            grid-template-rows: auto 1fr auto;

            width: 160px;
            height: 300px;
            border: 1px solid $c-g-5;
            margin: 10px 10px 60px;
        }

            .mg-movie-image {
                background-repeat: no-repeat;
                background-size: cover;
                height: 240px;
                width: 100%;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 15px 0px;
            }

            .mg-movie-title {
                @include mgMovieTitle;
                padding-top: 10px;
            }

            .mg-movie-year {
                @include mgMovieYear;
                padding-bottom: 10px;
            }
