// ==================== OVERLAY MOVIES  ==================== \\


    // OVERLAY MOVIES

#overlay-movies {
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0px;
    background-color: rgba($c-b-2, 0.95);
    perspective:62.5rem;
    z-index: 4;

    display: none;
    justify-content: center;
    align-items: center;

    color: white;
}

#overlay-movies[data-active="true"] {
    display: flex;
}

    #overlay-movies-container {
        display: grid;
        grid-template-columns: 350px 2fr;
        grid-template-rows: 525px;
        margin: 0px 100px;

        max-width: 1100px;
        width: 100%;

        background-color: rgba($c-b-2, 0.6);
        overflow: hidden;
    }


        // OVERLAY POSTER
        #om-poster {
            background-color: rgba($c-g-5, 0.2);
            background-size: cover;
            background-position: bottom;
            position: relative;
        }

        #om-poster:hover {
            #om-poster-outer {
                opacity: 1;
            }

            #om-poster-filter > i {
                transform: translateY(0px);
                opacity: 1;
            }
        }


        // OVERLAY POSTER

            #om-poster-outer {
                overflow: hidden;
                position: absolute;
                bottom: 0px;
                opacity: 0;
                transition: 0.3s;
            }

            #om-poster-inner {

                width: 350px;
                height: 525px;
                background-size: cover;
                transform: scale(1.25);
                filter: blur(1.2rem);

            }

            #om-poster-filter {
                height: 525px;
                width: 350px;
                position: absolute;
                top: 0px;

                display: grid;
                align-items: center;
                justify-content: center;
            }


                #om-trailer-play {
                    font-size: 4rem;
                    color: rgba($c-w-5, 0.3);
                    cursor: pointer;

                    transition: 0.3s;
                    transform: translateY(1.25rem);
                    opacity: 0;
                }


                #om-trailer-play:hover {
                    color: rgba($c-w-5, 0.65);
                }

            //style="background-image: url('https://s-media-cache-ak0.pinimg.com/originals/3e/33/92/3e3392d339c2b8028007d0f9af979be4.jpg')"

        // OVERLAY INFORMATION

        #om-information {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 90px 1fr;

            max-height: 525px;

            > *  {
                border-bottom: 1px solid rgba($c-b-5, 0.20);
            }
        }

        // CLASS FOR POSITONING
        .om-settings {
            padding: 0.8rem 1.2rem;
        }

        .om-header-style0 {
            display: grid;
            align-items: center;

            #om-title {
                overflow: hidden;
            }
        }

        .om-header-style1 {
            display: grid;
            grid-template-columns: 3fr 1fr 1fr;
            align-items: center;

            > ul {
                display: grid;
                justify-content: center;
                text-align: center;
            }
        }

        .om-header-style2 {
            display: grid;
            grid-template-columns: 1fr 1fr;

            align-items: center;
        }

        .om-header-style3 {
            display: grid;
            padding-bottom: 1rem;
        }

            #om-header-description {
                overflow: hidden;
            }

        .om-header-style4 {
            display: flex;
            align-items: center;

            > li {
                cursor: pointer;
            }

        }

        // CLASS FOR FONT STYLING

        .om-header-xl > #om-title {
            @include omHeaderXL;
        }

        .om-header-l {
            @include omHeaderL;
        }

        .om-header-m-upper {
            @include omHeaderMUpper;
        }

        .om-header-m-lower {
            @include omHeaderMLower;
        }

        .om-header-s-upper {
            @include omHeaderSUpper;
        }

        .om-header-s-lower {
            @include omHeaderSLower;
        }

        .om-header-actors {
            border-radius: .31rem;
            width: calc(3.75rem / 1.5);
            height: 3.75rem;
            margin: 0px 0.8rem;
            background-size: cover;
            border: 1px solid $c-b-5;
        }

        .om-inner-element {
            padding-right: .38rem;
            cursor: pointer;
            transition: 0.3s;
        }

        .om-inner-element:hover {
            color: $c-theme6;
        }

    #om-exit-overlay {

			position: fixed;
			right: 2vw;
			top: 1vw;

			width: 2rem;
			height: 2rem;

			color: white;

			font-size: 1.8rem;
			font-weight: 100;
			cursor: pointer;
		}


        // ========== TRAILER ===============

        #om-trailer {
            position: absolute;
            max-width: 1100px;
            width: 100%;
            height: 525px;
            opacity: 0;
            background-color: $c-b-1;
            transition: opacity 0.3s;
            z-index: -1;
        }



        #om-trailer[data-open=true] {
            opacity: 1;
            z-index: 5;

            > #om-trailer-iframe {
                opacity: 1;
            }
        }

            #om-trailer-iframe {
                width: 100%;
                height: 100%;
                border: none;
                opacity: 0;
                transition: 0.6s;
            }

            #om-trailer-exit {
                width: 100%;
                display: flex;
                justify-content: center;
                cursor: pointer;
            }

            #om-trailer-exit:hover {

                &::after {
                    transform: scaleX(1);
                }

                > .ote-tag {
                    color: rgba($c-w-5, 1)
                }
            }

            #om-trailer-exit::after {
                content: " ";
                display: block;
                width: 100%;
                position: absolute;
                bottom: 0px;
                border-bottom: 2px solid rgba($c-w-5, 0.5);
                transform: scaleX(0);
                transition: 0.3s;
            }


                .ote-tag {
                    padding: 15px 5px;
                    text-align: center;
                    @include oteTag;
                    transition: color 0.3s;
                }

                .ote-tag:nth-child(1) {
                    transform: translateY(-0.1rem);
                }
