// ==================== OVERLAY MOVIES  ==================== \\


    // OVERLAY MOVIES

#overlay-movies {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 150px);
    bottom: 0px;
    background-color: rgba($c-b-2, 0.95);
    perspective:1000px;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}


    #overlay-movies-container {
        display: grid;
        grid-template-columns: 30vh 1fr;
        grid-template-rows: auto;

        max-width: calc(55vh * 1.5);
        width: 100%;

        > * {
            border: 1px solid blue;
        }
    }

        #om-poster {

        }

        #om-information {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr;
            height: 45vh;


            > *  {
                border: 1px solid orange;

                > * {
                    border: 1px solid red;
                }
            }
        }

        .om-settings {
            padding: 10px;
        }

        .om-header-style0 {
            display: grid;
        }

        .om-header-style1 {
            display: grid;
            grid-template-columns: 3fr 1fr 1fr;

            > ul {
                display: grid;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }

        .om-header-style2 {
            display: grid;
            grid-template-columns: 1fr 1fr;

            align-items: center;
        }

        .om-header-style3 {
            display: grid;
        }

        .om-header-style4 {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;

            > ul {
                display: flex;
            }
        }
