/* ==================== MEDIA ==================== */

/*

$breakpoints: (
  'phone': 600px,
  'tablet-portrait': 900px,
  'tablet-landscape': 1200px,
  'desktop': 1799px,
  'big-desktop': 1800px
) !default;

*/


// =========== MEDIA QUERY ===============

@include media("<=2000px", ">=tablet-landscape") {

    #overlay-movies-container {
        display: grid;
        grid-template-columns: 30vh 70vh;
    }

    .om-header-xl > #om-title {
        font-size: 1.2rem !important;
    }

    .om-header-l  {
        font-size: 1.1rem !important;
    }

    .om-header-m-upper {
        font-size: 0.8rem !important;
    }

    .om-header-m-lower {
        font-size: .65rem !important;
    }

    .om-header-s-upper  {
        font-size: .8rem !important;
    }

    .om-header-s-lower {
        font-size: 0.8rem !important;
    }
}
