@charset "UTF-8";
/*
    // ==================== IMPORT ==================== \\
   ||                                                   ||
   \\--------------------------------------------------//
*/
/* ==================== COLORS ==================== */
/* ==================== TYPEGRAPHY FONTLOAD ==================== */
@font-face {
  font-family: 'MyriadProRegular';
  src: url("../fonts/Myriad-Pro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'RobotoMedium';
  src: url("../fonts/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/Roboto-Bold.ttf") format("truetype"); }

/* ==================== Mixins'S ==================== */
/* Icon glyph*/
@font-face {
  font-family: 'iconsprite';
  src: url("../fonts/iconsprite/iconsprite.eot");
  src: url("../fonts/iconsprite/iconsprite.eot?#iefix") format("embedded-opentype"), url("../fonts/iconsprite/iconsprite.woff") format("woff"), url("../fonts/iconsprite/iconsprite.ttf") format("truetype"), url("../fonts/iconsprite/iconsprite.svg#iconsprite") format("svg");
  font-weight: normal;
  font-style: normal; }

[class*='icon-']:before {
  display: inline-block;
  font-family: 'iconsprite';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-genre-horror:before {
  content: '\0041'; }

.icon-genre-musical:before {
  content: '\0042'; }

.icon-genre-mystery:before {
  content: '\0043'; }

.icon-genre-romance:before {
  content: '\0044'; }

.icon-genre-scifi:before {
  content: '\0045'; }

.icon-genre-thriller:before {
  content: '\0046'; }

.icon-genre-war:before {
  content: '\0047'; }

.icon-genre-western:before {
  content: '\0048'; }

.icon-genre-action:before {
  content: '\0049'; }

.icon-genre-adventure:before {
  content: '\004a'; }

.icon-genre-animation:before {
  content: '\004b'; }

.icon-genre-comedy:before {
  content: '\004c'; }

.icon-genre-crime:before {
  content: '\004d'; }

.icon-genre-documentary:before {
  content: '\004e'; }

.icon-genre-drama:before {
  content: '\004f'; }

.icon-genre-family:before {
  content: '\0050'; }

.icon-genre-fantasy:before {
  content: '\0051'; }

.icon-genre-history:before {
  content: '\0052'; }

/* ==================== RESET ==================== */
ol, ul {
  list-style: none; }

input {
  outline: none; }

a:link, a:visited {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  cursor: default; }

* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

.lazy {
  opacity: 0 !important; }

.lazy-spinner::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 2rem);
  left: calc(50% - 1.5rem);
  border: 1px solid red;
  width: 3rem;
  height: 3rem;
  border-style: solid;
  border-color: transparent;
  border-top-color: rgba(63, 184, 175, 0.5);
  border-width: 3px 0px 0px 0px;
  border-radius: 50%;
  -webkit-animation: spin 0.65s infinite linear;
  animation: spin 0.65s infinite linear; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

/* ==================== MEDIA ==================== */
/*! nouislider - 10.0.0 - 2017-05-28 14:52:48 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline-width: 0 !important; }

.noUi-target {
  position: relative;
  direction: ltr; }

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */ }

.noUi-connect {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0; }

.noUi-origin {
  position: absolute;
  height: 0;
  width: 0; }

.noUi-handle {
  position: relative;
  z-index: 1;
  cursor: -webkit-grab !important;
  cursor: grab !important; }

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 1.13rem; }

.noUi-horizontal .noUi-handle {
  width: .94rem;
  height: .94rem;
  border-radius: 50%;
  left: -.31rem;
  top: -.25rem; }

.noUi-vertical {
  width: 1.13rem; }

.noUi-vertical .noUi-handle {
  width: 1.75rem;
  height: .63rem;
  left: -.5rem;
  top: -.5rem; }

/* Styling;
 */
.noUi-target {
  background: #FAFAFA;
  border-radius: .25rem;
  border: 1px solid #D3D3D3;
  -webkit-box-shadow: inset 0 1px 1px #F0F0F0, 0 .19rem .38rem -.31rem #BBB;
          box-shadow: inset 0 1px 1px #F0F0F0, 0 .19rem .38rem -.31rem #BBB; }

.noUi-connect {
  background-color: #f2f2f2;
  border-radius: .25rem;
  -webkit-box-shadow: inset 0 0 0.19rem rgba(51, 51, 51, 0.45);
          box-shadow: inset 0 0 0.19rem rgba(51, 51, 51, 0.45);
  -webkit-transition: background-color 0.15s;
  transition: background-color 0.15s; }

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize; }

.noUi-vertical .noUi-draggable {
  cursor: ns-resize; }

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: .19rem;
  background: #FFF;
  cursor: default;
  -webkit-box-shadow: inset 0 0 1px #FFF, inset 0 1px .44rem #EBEBEB, 0 .19rem .38rem -.19rem #BBB;
          box-shadow: inset 0 0 1px #FFF, inset 0 1px .44rem #EBEBEB, 0 .19rem .38rem -.19rem #BBB; }

.noUi-active {
  -webkit-box-shadow: inset 0 0 1px #FFF, inset 0 1px .44rem #DDD, 0 .19rem .38rem -.19rem #BBB;
          box-shadow: inset 0 0 1px #FFF, inset 0 1px .44rem #DDD, 0 .19rem .38rem -.19rem #BBB; }
  .noUi-active > .noUi-tooltip {
    font-size: 0.9rem; }

/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8; }

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed; }

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.noUi-pips {
  position: absolute;
  color: #999; }

/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center; }

.noUi-value-sub {
  color: #ccc;
  font-size: .63rem; }

/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC; }

.noUi-marker-sub {
  background: #AAA; }

.noUi-marker-large {
  background: #AAA; }

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: .63rem 0;
  height: .31rem;
  top: 100%;
  left: 0;
  width: 100%; }

.noUi-value-horizontal {
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0); }

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: .13rem;
  height: .31rem; }

.noUi-marker-horizontal.noUi-marker-sub {
  height: .63rem; }

.noUi-marker-horizontal.noUi-marker-large {
  height: .94rem; }

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 .63rem;
  height: 100%;
  top: 0;
  left: 100%; }

.noUi-value-vertical {
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  padding-left: 1.56rem; }

.noUi-marker-vertical.noUi-marker {
  width: .31rem;
  height: .13rem;
  margin-top: -1px; }

.noUi-marker-vertical.noUi-marker-sub {
  width: .63rem; }

.noUi-marker-vertical.noUi-marker-large {
  width: .94rem; }

.noUi-tooltip {
  display: block;
  position: absolute;
  padding: .33rem;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
  font-family: "MyriadProRegular";
  font-size: .6rem;
  color: #012C40; }

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%; }

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%; }

#mg-genre-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: .63rem; }

.mg-checkbox {
  position: absolute;
  left: 0;
  top: 0;
  display: none; }

.mg-checkbox-label {
  display: block;
  padding: .63rem;
  padding-left: 1.88rem;
  position: relative;
  cursor: pointer;
  font-family: "RobotoMedium";
  font-size: .63rem;
  color: #012C40;
  font-weight: 400;
  text-transform: uppercase; }

.mg-checkbox-label:before {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 0px;
  background-color: rgba(189, 189, 189, 0.4);
  border-radius: .13rem; }

.mg-checkbox:checked + .mg-checkbox-label:before {
  content: "✔";
  color: white;
  background-color: #3fb8af;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: .63rem; }

html, head, body, li, ul, figure, p, h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px; }

#site-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  background-color: #fcfcfc;
  height: 100vh; }

/* ==================== HEADER ==================== */
#header {
  background-color: #ececec;
  position: relative;
  z-index: 3; }

#header-container {
  max-width: 87.5rem;
  width: 100%;
  height: 9.38rem;
  padding: 0px 3.13rem;
  margin: 0px auto;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "headerLogo . headerNav headerSearch";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#header-logo {
  grid-area: headerLogo;
  display: grid;
  grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0A1829;
  padding: .63rem 4.38rem .63rem .63rem;
  color: white;
  cursor: pointer; }

#header-logo-image {
  height: 3rem; }

#header-logo-title {
  font-family: "MyriadProRegular";
  font-size: 1.2rem;
  color: #f2f2f2; }

#header-navigation {
  grid-area: headerNav; }

#header-navigation-ul {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-right: 1.25rem; }

.header-navigation-elements {
  height: 9.38rem;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-family: "MyriadProRegular";
  font-size: 1rem;
  color: #0A1829;
  text-transform: uppercase;
  padding: 0px 1.25rem; }

#header-search {
  grid-area: headerSearch;
  display: grid;
  grid-template-columns: 1fr auto;
  cursor: pointer; }

#header-search-input {
  width: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  color: #f2f2f2;
  background-color: rgba(1, 44, 64, 0);
  padding-left: 1.25rem;
  font-family: "RobotoLight";
  font-size: 0.8rem;
  color: #f2f2f2; }

#header-search-input::-moz-selection {
  background-color: #33606B; }

#header-search-input::selection {
  background-color: #33606B; }

#header-search[data-active="true"] > #header-search-input {
  width: 20rem;
  background-color: #0A1829;
  -webkit-transform: translateX(4.75rem);
          transform: translateX(4.75rem); }

#header-search[data-active="true"] > #header-search-logo {
  border-left-color: white;
  color: white; }

#header-search-logo {
  border-left: 0.19rem solid #0A1829;
  padding: .94rem 1.56rem;
  font-size: 1.63rem;
  z-index: 2;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

/* ==================== FOOTER ==================== */
#footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "personel . keyboard";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  width: 100vw;
  padding: 0px 3.75rem;
  position: fixed;
  bottom: 0px; }

#footer-personel-footprint {
  grid-area: personel; }

#footer-github, #footer-tmdb {
  fill: #0A1829;
  margin: 0px .63rem;
  width: 3.5rem;
  height: 3.5rem; }

#footer-keyboard {
  grid-area: keyboard;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". key38 ." "key37 key40 key39"; }

#footer-key-38 {
  grid-area: key38; }

#footer-key-37 {
  grid-area: key37; }

#footer-key-40 {
  grid-area: key40; }

#footer-key-39 {
  grid-area: key39; }

.footer-keys {
  color: #ecf0f1;
  font-size: .63rem !important;
  font-weight: 100;
  padding: .88rem;
  border-radius: .19rem;
  -webkit-box-shadow: 0 0.1em 0 0.05em #33606B;
          box-shadow: 0 0.1em 0 0.05em #33606B;
  margin: 0px .25rem .38rem;
  background-color: #0A1829;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

/* ==================== MAIN ==================== */
#main {
  background-color: #f2f2f2; }

.main-settings {
  display: none !important; }

.main-settings[data-active="true"] {
  display: grid !important; }

#main-home {
  width: 100%;
  max-width: 87.5rem;
  height: 100%;
  margin: 0px auto;
  padding: 0px 3.13rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#main-wall {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto 1fr;
  overflow-y: auto;
  background-color: #f2f2f2;
  padding: 2.5rem 20%; }

#main-actors {
  grid-template-columns: 13.75rem 2fr 1.75fr;
  grid-template-rows: 20.75rem 1fr;
  grid-template-areas: "profile    description filmography" "trademark   trademark     filmography";
  grid-gap: 1.88rem;
  width: 100%;
  max-width: 87.5rem;
  margin: 0px auto;
  padding: 3.13rem; }

#main-genre {
  width: 100%;
  max-width: 75rem;
  margin: 0px auto;
  grid-template-rows: auto 1fr !important;
  height: calc(100vh - 9.38rem); }

#main-gallery {
  width: 100%;
  max-width: 87.5rem;
  margin: 0px auto;
  display: grid;
  grid-template-rows: auto 1fr; }

#main-discover {
  width: 100%;
  max-width: 75rem;
  margin: 0px auto;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: orange; }

#main-about {
  background-color: green; }

#main-home {
  background-color: transparent; }

#main-home-search {
  display: grid;
  grid-template-columns: 37.5rem auto auto;
  grid-template-rows: 1fr; }

#mhs-input {
  display: block;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #8a8a8a;
  color: #3fb8af;
  margin-right: 1.88rem;
  font-family: "RobotoLight";
  font-size: 3.5rem; }

#mhs-input::-webkit-input-placeholder {
  color: #bdbdbd; }

#mhs-input:-ms-input-placeholder {
  color: #bdbdbd; }

#mhs-input::-ms-input-placeholder {
  color: #bdbdbd; }

#mhs-input::placeholder {
  color: #bdbdbd; }

#mhs-input::-moz-selection {
  background-color: #3fb8af;
  color: #f2f2f2; }

#mhs-input::selection {
  background-color: #3fb8af;
  color: #f2f2f2; }

.mhs-icons-container {
  display: grid;
  align-self: center; }

.mhs-icons {
  color: #bdbdbd;
  font-size: 3.13rem !important;
  margin-left: .94rem;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.mhs-icons:hover {
  color: #3fb8af; }

#main-wall-search {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  margin-bottom: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#mws-results {
  font-family: "RobotoLight";
  font-size: 1.13rem;
  font-weight: 100; }
  #mws-results > span {
    font-weight: 700; }

.spanTag {
  font-family: "RobotoLight";
  font-size: .88rem;
  font-weight: 400;
  color: #f2f2f2;
  margin: 0px .63rem;
  background-color: #3fb8af;
  padding: .5rem .94rem;
  border-radius: .19rem;
  -webkit-box-shadow: 0 0.19rem 0.94rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.19rem 0.94rem rgba(0, 0, 0, 0.3); }
  .spanTag > span {
    font-family: "RobotoBold";
    font-size: .88rem;
    margin-left: .63rem;
    font-weight: 700;
    color: #f2f2f2;
    margin-left: .63rem; }

.main-wall-group {
  display: none;
  margin: .94rem 0px;
  background-color: #fcfcfc;
  padding: 1.25rem 2.5rem;
  -webkit-box-shadow: 0 0.19rem 0.94rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.19rem 0.94rem rgba(0, 0, 0, 0.3); }

.mws-h3-header {
  border-bottom: 1px solid #DAEBF2;
  padding-bottom: .63rem;
  font-family: "MyriadProRegular";
  font-size: 1.4rem;
  color: #012C40; }
  .mws-h3-header > span {
    margin-right: .63rem;
    color: #33606B; }

.mws-item {
  display: grid;
  grid-template-columns: auto 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "posterItem h3Item pItem" "posterItem h5Item pItem";
  border-bottom: 1px solid #DAEBF2;
  padding: .94rem .63rem;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .mws-item > * {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer; }

.mws-item:last-child {
  border: none; }

.mws-item:hover {
  border-bottom-color: #adadad; }
  .mws-item:hover > .mws-h3-item {
    padding-left: .63rem; }
  .mws-item:hover > .mws-h5-item {
    padding-left: .94rem; }

.mws-poster-item {
  grid-area: posterItem;
  width: 2.94rem;
  height: 4.38rem;
  margin-right: .94rem;
  background-size: cover; }

.mws-h3-item {
  grid-area: h3Item;
  font-family: "RobotoLight";
  font-size: 1rem;
  color: #012C40; }

.mws-h5-item {
  grid-area: h5Item;
  font-family: "RobotoLight";
  font-size: .75rem;
  color: #3a3a3a;
  font-weight: 100; }
  .mws-h5-item > span {
    padding-left: .13rem;
    padding-right: .63rem; }

.mws-p-item {
  grid-area: pItem;
  font-family: "RobotoLight";
  font-size: .75rem;
  color: #2d2d2d; }

.mws-visible {
  display: block; }

#main-actors > * {
  -webkit-box-shadow: rgba(73, 89, 106, 0.1) 0px 0px 1rem 0px;
          box-shadow: rgba(73, 89, 106, 0.1) 0px 0px 1rem 0px;
  padding: 1.25rem;
  padding-bottom: 1rem;
  background-color: #fcfcfc; }

#main-actors-backdrop {
  grid-area: backdrop;
  overflow: hidden; }

#main-actors-profile {
  padding: 0px;
  grid-area: profile;
  display: grid; }

#main-actors-profile::after {
  content: "";
  position: absolute;
  width: 13.75rem;
  height: 20.75rem;
  top: 12.51rem;
  background-color: rgba(10, 24, 41, 0.2);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, rgba(10, 24, 41, 0.65)), color-stop(90%, rgba(51, 96, 107, 0.3)));
  background-image: linear-gradient(0deg, rgba(10, 24, 41, 0.65) 20%, rgba(51, 96, 107, 0.3) 90%); }

#mat-img-container {
  width: 13.75rem;
  height: 20.75rem;
  position: relative;
  display: block; }

#mat-img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  height: 100%; }

#mat-name {
  color: white;
  position: absolute;
  z-index: 2;
  width: 13rem;
  -webkit-transform: translateY(18.7rem) translateX(1rem);
          transform: translateY(18.7rem) translateX(1rem);
  font-family: "RobotoBold";
  font-size: 1rem;
  color: #f2f2f2; }

#main-actors-description {
  grid-area: description;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto; }

.mad-biography {
  border-bottom: 1px solid #DAEBF2;
  padding-bottom: .63rem;
  font-family: "MyriadProRegular";
  font-size: 1.4rem;
  color: #012C40; }
  .mad-biography > span {
    padding-right: .63rem; }

#mad-biography {
  margin: 1.25rem 0px;
  font-size: .88rem;
  height: 9.69rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "RobotoLight";
  font-size: .75rem;
  color: #2d2d2d; }

.mad-personel {
  display: grid;
  grid-template-columns: 7.5rem 1fr;
  grid-template-rows: auto; }

.mad-personel-text, .mad-personel-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .mad-personel-text > span, .mad-personel-content > span {
    margin: .31rem 0px; }

.mad-personel-text > span {
  font-family: "RobotoBold";
  font-size: .88rem;
  color: #012C40; }
  .mad-personel-text > span > span {
    width: 1.56rem; }

.mad-personel-content > span {
  font-family: "RobotoLight";
  font-size: .75rem;
  color: #2d2d2d; }

#mad-stats {
  margin-top: 1.25rem; }

#main-actors-filmography {
  grid-area: filmography; }

#mad-timeline {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.5rem;
  padding: 0px .63rem; }
  #mad-timeline > li {
    cursor: pointer; }

.mad-content, .mad-empty {
  font-family: "RobotoBold";
  font-size: .88rem;
  color: #012C40;
  padding: .31rem .94rem .31rem 6.25rem;
  position: relative; }

.mad-content::after {
  content: " ";
  display: block;
  position: absolute;
  height: 100%;
  border-left: 0.13rem solid #0A1829;
  top: 0px;
  left: 5rem; }

.mad-content::before {
  content: " ";
  display: block;
  position: absolute;
  width: .63rem;
  top: 50%;
  left: 5rem;
  border-top: 0.13rem solid #0A1829;
  border-top-style: dotted; }

.mad-year {
  font-family: "RobotoBold";
  font-size: .88rem;
  color: #012C40;
  padding: .63rem 0px .63rem 1.56rem;
  position: relative;
  width: 5.13rem;
  background-color: #0A1829;
  color: white;
  margin: .63rem 0px; }

.mad-year::after {
  content: " ";
  display: block;
  position: absolute;
  border-right: 0.13rem solid #0A1829;
  content: " ";
  height: calc(100% + 2.5rem);
  top: -1.25rem;
  right: 0px; }

.mad-end, .mad-start {
  content: " ";
  position: relative;
  width: 1.25rem;
  margin-left: 4.56rem;
  top: -.19rem;
  font-size: 1.13rem;
  color: #0A1829;
  z-index: 0;
  cursor: default; }

.mad-start {
  font-size: 1.25rem !important;
  margin-left: 4.5rem;
  top: .25rem; }

.mad-empty {
  cursor: default !important; }

.mad-empty::after {
  content: " ";
  display: block;
  position: absolute;
  height: 100%;
  border-left: 0.13rem solid #0A1829;
  top: 0px;
  left: 5rem; }

#main-actors-trademark {
  grid-area: trademark; }

#mat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1.25rem;
  padding-top: 3.13rem; }

.mat-item {
  display: grid;
  grid-template-columns: 9.38rem;
  grid-template-rows: auto 1fr;
  margin: 0px .63rem 3rem .63rem;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }

.mat-item-img {
  width: 9.38rem;
  height: 14.06rem;
  -webkit-box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.45);
          box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.45);
  border-radius: .19rem;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.mat-item-title {
  font-family: "RobotoBold";
  font-size: .88rem;
  color: #012C40;
  width: 100%;
  padding-top: 0.5rem; }

.main-genre-description {
  margin-top: 1.88rem; }
  .main-genre-description .mgd-genre {
    border-bottom: 1px solid #DAEBF2;
    padding-bottom: .63rem;
    font-family: "MyriadProRegular";
    font-size: 1.38rem;
    color: #012C40; }
    .main-genre-description .mgd-genre > span {
      padding-right: .63rem; }

#main-genre-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-self: center;
  padding-top: 1.25rem; }
  #main-genre-container > li {
    justify-self: center;
    background-color: rgba(8, 19, 32, 0.95);
    border-radius: .38rem;
    width: 15rem;
    height: 8.44rem;
    margin: 1.25rem .94rem;
    display: grid;
    grid-template-rows: 1fr 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-box-shadow: #49596a 0px 0px 1rem 0px;
            box-shadow: #49596a 0px 0px 1rem 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    #main-genre-container > li > div {
      margin: 0px auto;
      color: #f2f2f2;
      font-size: 2.5rem; }
    #main-genre-container > li > span {
      font-family: "MyriadProRegular";
      font-size: .88rem;
      color: #012C40;
      text-transform: capitalize;
      color: #f2f2f2;
      -webkit-transform: translateY(-1.25rem);
              transform: translateY(-1.25rem);
      text-align: center; }

#main-gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #main-gallery > * {
    margin-bottom: 2.5rem; }

#mg-arranger-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "filtering sorting" "navigation navigation";
  padding: 1.56rem 2.19rem 0px;
  position: absolute;
  width: 100%;
  max-width: 87.5rem;
  z-index: 2;
  margin: 0px auto;
  -webkit-transform: translateY(-87%);
          transform: translateY(-87%);
  background-color: rgba(236, 236, 236, 0);
  -webkit-transition: 0.45s;
  transition: 0.45s; }

#mg-arranger-container[data-open="true"] {
  background-color: rgba(236, 236, 236, 0.95);
  -webkit-transform: translateY(0%);
          transform: translateY(0%); }
  #mg-arranger-container[data-open="true"] #mg-refresh {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  #mg-arranger-container[data-open="true"] #mg-toggle {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg); }
  #mg-arranger-container[data-open="true"] .noUi-connect {
    background-color: #3fb8af; }

#mg-arranger-container::after {
  content: " ";
  display: block;
  height: 1px;
  width: 100%;
  max-width: 87.5rem;
  border-bottom: 0.13rem solid #3fb8af;
  position: absolute;
  bottom: 0px;
  -webkit-transform: translateX(33%) scaleX(0);
          transform: translateX(33%) scaleX(0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }

#mg-arranger-container[data-open="true"]::after {
  -webkit-transform: translateX(0%) scaleX(1);
          transform: translateX(0%) scaleX(1); }

#mg-filtering-container {
  grid-area: filtering; }

#mg-sorting-container {
  grid-area: sorting; }

#mg-navigation-container {
  grid-area: navigation; }

.mg-container {
  display: grid;
  grid-template-rows: auto 1fr; }

#mg-filtering {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2.5fr 1fr;
  grid-template-areas: "mgGenre mgGenre mgGenre mgYear" "mgRating mgRating mgRuntime mgRuntime"; }

#mg-genre {
  grid-area: mgGenre; }
  #mg-genre > .mg-header-m-upper {
    width: 85%; }

#mg-year {
  grid-area: mgYear; }
  #mg-year > .mg-header-m-upper {
    width: 55%; }

#mg-rating {
  grid-area: mgRating; }

#mg-runtime {
  grid-area: mgRuntime; }

.mg-slider-container {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15.625rem;
  margin-left: 0.625rem; }

.mg-slider-settings {
  height: 0.625rem;
  margin: 1.875rem 0px; }

.mg-slider-container-vertical {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0.95rem;
  width: 6.25rem; }

.mg-slider-settings-vertical {
  height: 12.5rem;
  width: 0.75rem; }

#mg-sorting {
  display: grid;
  grid-template-rows: 2.5fr 1fr; }

#mg-sortby {
  position: relative;
  padding-bottom: 2.81rem; }

#mg-radiobuttons {
  width: 100%;
  height: 100%;
  margin-top: 0.625rem; }

.mg-radio-label {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: .75rem 0px .75rem 1.88rem;
  cursor: pointer;
  font-size: 1.38rem;
  font-family: "RobotoMedium";
  font-size: .63rem;
  color: #012C40;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.mg-radio-input {
  display: none; }

.mg-checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: .88rem;
  width: .88rem;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: 0.25rem solid rgba(189, 189, 189, 0.6);
  margin-top: 0.625rem;
  -webkit-box-shadow: 0 1px 0.13rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 0.13rem rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.mg-checkmark::after {
  display: block;
  content: " ";
  position: absolute;
  top: -.25rem;
  left: -.25rem;
  height: .88rem;
  width: .88rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.315rem 0.625rem rgba(63, 184, 175, 0.3);
          box-shadow: 0 0.315rem 0.625rem rgba(63, 184, 175, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

.mg-radio-label:hover > .mg-radio-input ~ .mg-checkmark {
  background-color: #fcfcfc; }

.mg-radio-input:checked ~ .mg-checkmark {
  border: 0.25rem solid #3fb8af;
  background-color: #fcfcfc; }

.mg-radio-input:checked ~ .mg-checkmark::after {
  opacity: 1; }

#mg-order {
  background: rgba(189, 189, 189, 0.3);
  border-radius: 1.5rem;
  display: block;
  height: 1.5rem;
  position: relative;
  width: 3.75rem;
  margin: 0.95rem 3.75rem; }
  #mg-order > input {
    cursor: pointer; }
  #mg-order > label {
    font-family: "RobotoMedium";
    font-size: .63rem;
    color: #012C40;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    top: 25%;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    width: 2rem; }
  #mg-order > label:nth-of-type(1) {
    left: -90%;
    position: absolute;
    text-align: right; }
  #mg-order > label:nth-of-type(2) {
    position: absolute;
    right: -75%;
    text-align: left; }
  #mg-order > input {
    height: 1.5rem;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 3.75rem;
    z-index: 2; }
  #mg-order > input:checked ~ label:nth-of-type(1) {
    color: #3fb8af; }
  #mg-order > input:checked ~ label:nth-of-type(2) {
    color: #8a8a8a; }
  #mg-order > input ~ :checked ~ label:nth-of-type(1) {
    color: #8a8a8a; }
  #mg-order > input ~ :checked ~ label:nth-of-type(2) {
    color: #3fb8af; }
  #mg-order > input:checked ~ .toggle {
    left: 0.25rem; }
  #mg-order > input ~ :checked ~ .toggle {
    left: 2.25rem; }
  #mg-order > input:checked {
    z-index: 0; }

.toggle {
  background: #3fb8af;
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  left: 0;
  position: absolute;
  top: 0.125rem;
  -webkit-transition: left .2s ease;
  transition: left .2s ease;
  z-index: 1; }

.mg-header-xl {
  border-bottom: 1px solid #DAEBF2;
  padding-bottom: 0.625rem;
  font-family: "MyriadProRegular";
  font-size: 1.4rem;
  color: #012C40; }
  .mg-header-xl > span {
    padding-right: 0.95rem; }

.mg-header-m-upper {
  font-family: "RobotoBold";
  font-size: 0.6rem;
  color: #012C40;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #bdbdbd;
  padding: 0.95rem 0.187rem 0.31rem 0px;
  width: 75%; }

.mg-header-m-lower {
  font-family: "RobotoMedium";
  font-size: .63rem;
  color: #012C40;
  font-weight: 400;
  text-transform: uppercase; }

.mg-header-s {
  font-family: "MyriadProRegular";
  font-size: .6rem;
  color: #012C40; }

#mg-navigation-container {
  height: 3.75rem;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#mg-refresh {
  width: 7.5rem;
  border-radius: 0.315rem;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3fb8af;
  color: #f2f2f2;
  margin: 0.315rem 0px 1.25rem;
  font-family: "RobotoLight";
  font-size: 0.75rem;
  color: #f2f2f2;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transform: translateY(-3.13rem);
          transform: translateY(-3.13rem);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  opacity: 0; }

#mg-refresh:hover {
  background-color: rgba(10, 24, 41, 0.6); }

#mg-refresh:active {
  background-color: #0A1829; }

#mg-toggle {
  color: white;
  font-size: 1.2rem;
  height: 3rem !important;
  width: 3rem !important;
  border-radius: 50%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 82%;
  bottom: -1.38rem;
  z-index: 3;
  background-color: #3fb8af;
  -webkit-box-shadow: 0 0.315rem 0.625rem rgba(63, 184, 175, 0.3);
          box-shadow: 0 0.315rem 0.625rem rgba(63, 184, 175, 0.3);
  -webkit-transition: 1.2s;
  transition: 1.2s;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  cursor: pointer; }

#mg-movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11.25rem, 1fr));
  grid-template-rows: auto auto;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 75rem;
  margin: 0px auto;
  padding: 8.125rem 1.2rem 0px; }

.mg-movie-item {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 10rem;
  height: 18.75rem;
  margin: 0.625rem 0.625rem 3.75rem;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .mg-movie-item > * {
    cursor: pointer; }

.mg-movie-item::before {
  content: " ";
  display: block;
  width: 10rem;
  height: 15rem;
  position: absolute;
  z-index: 0;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.mg-movie-item[movie-selected] {
  -webkit-transform: translateY(-1.25rem);
          transform: translateY(-1.25rem); }
  .mg-movie-item[movie-selected] > .mg-movie-title {
    color: #3fb8af; }
  .mg-movie-item[movie-selected] > .mg-movie-image-con::after {
    opacity: 1; }

.mg-movie-image-con {
  display: block;
  position: relative;
  height: 15rem;
  width: calc(15rem / 1.5);
  -webkit-box-shadow: 0 0.19rem 0.38rem rgba(0, 0, 0, 0.16), 0 0.19rem 0.38rem rgba(0, 0, 0, 0.23);
          box-shadow: 0 0.19rem 0.38rem rgba(0, 0, 0, 0.16), 0 0.19rem 0.38rem rgba(0, 0, 0, 0.23); }

.mg-movie-image-con::after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  opacity: 0;
  -webkit-box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.25), 0 0.3rem 0.3rem rgba(0, 0, 0, 0.22);
          box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.25), 0 0.3rem 0.3rem rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.mg-movie-image {
  height: 15rem;
  width: calc(15rem / 1.5);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1; }

.mg-movie-title {
  font-family: "RobotoBold";
  font-size: 0.85rem;
  color: #012C40;
  font-weight: 400;
  padding-top: 0.8rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  z-index: 1; }

.mg-movie-year {
  font-family: "RobotoLight";
  font-size: 0.85rem;
  color: #3a3a3a;
  font-weight: 400;
  padding-bottom: 0.8rem;
  z-index: 1; }

#overlay-movies {
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0px;
  background-color: rgba(20, 20, 20, 0.95);
  -webkit-perspective: 62.5rem;
          perspective: 62.5rem;
  z-index: 4;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white; }

#overlay-movies[data-active="true"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#overlay-movies-container {
  display: grid;
  grid-template-columns: 30vh 55vh;
  grid-template-rows: 45vh;
  background-color: rgba(20, 20, 20, 0.6);
  overflow: hidden; }

#om-poster {
  background-color: rgba(138, 138, 138, 0.2);
  background-size: cover;
  background-position: bottom;
  position: relative; }

#om-poster:hover #om-poster-outer {
  opacity: 1; }

#om-poster:hover #om-poster-filter > i {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1; }

#om-poster-outer {
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

#om-poster-inner {
  height: 45vh;
  width: 30vh;
  background-size: cover;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-filter: blur(1.6rem);
          filter: blur(1.6rem); }

#om-poster-filter {
  height: 45vh;
  width: 30vh;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#om-trailer-play {
  font-size: 4rem;
  color: rgba(242, 242, 242, 0.3);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(1.25rem);
          transform: translateY(1.25rem);
  opacity: 0; }

#om-trailer-play:hover {
  color: rgba(242, 242, 242, 0.65); }

#om-information {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr auto auto auto auto 4fr 1fr; }
  #om-information > * {
    border-bottom: 1px solid rgba(58, 58, 58, 0.2); }

.om-settings {
  padding: 0.8rem 1.2rem; }

.om-header-style0 {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .om-header-style0 #om-title {
    overflow: hidden; }

.om-header-style1 {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .om-header-style1 > ul {
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }

.om-header-style2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.om-header-style3 {
  display: grid; }

.om-header-style4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .om-header-style4 > li {
    cursor: pointer; }

.om-header-xl > #om-title {
  font-family: "RobotoLight";
  font-size: 1.5rem;
  color: #f2f2f2;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700; }

.om-header-l {
  font-family: "RobotoBold";
  font-size: 1.4rem;
  color: #f2f2f2; }

.om-header-m-upper {
  font-family: "RobotoBold";
  font-size: 1.1rem;
  color: #f2f2f2;
  font-weight: 700; }

.om-header-m-lower {
  font-family: "RobotoLight";
  font-size: 0.8rem;
  color: #f2f2f2; }

.om-header-s-upper {
  font-family: "RobotoBold";
  font-size: 0.9rem;
  padding-bottom: .25rem;
  color: #51E8FC; }

.om-header-s-lower {
  font-family: "RobotoLight";
  font-size: 0.9rem;
  color: #f2f2f2; }

.om-header-actors {
  border-radius: .31rem;
  width: calc(3.75rem / 1.5);
  height: 3.75rem;
  margin: 0px 0.8rem;
  background-size: cover;
  border: 1px solid #3a3a3a; }

.om-inner-element {
  padding-right: .38rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.om-inner-element:hover {
  color: #3fb8af; }

#om-exit-overlay {
  position: fixed;
  right: 2vw;
  top: 1vw;
  width: 2rem;
  height: 2rem;
  color: white;
  font-size: 1.8rem;
  font-weight: 100;
  cursor: pointer; }
