/* ==================== COLORS ==================== */



$c-green:                     #2ecc71;
$c-red:                       #D71A21;
$c-yellow:                    #f1c40f;
$c-orange:                    #f39c12;
$c-turquise:                  #1abc9c;
$c-blue:                      #0da7c1;
$c-darkblue:                  #33606b;
$c-white:                     #ecf0f1;
$c-grey:                      #bdc3c7;
$c-darkgrey:                  #95a5a6;
$c-black:                     #141414;

$c-b-1:                       #000000;
$c-b-2:                       #141414;
$c-b-3:                       #202020;
$c-b-4:                       #2d2d2d;
$c-b-5:                       #3a3a3a;

$c-w-1:                       #ffffff;
$c-w-2:                       #fcfcfc;
$c-w-3:                       #f8f8f8;
$c-w-4:                       #f4f4f4;
$c-w-5:                       #f2f2f2;

$c-g-1:                       #e4e4e4;
$c-g-2:                       #dcdcdc;
$c-g-3:                       #bdbdbd;
$c-g-4:                       #adadad;
$c-g-5:                       #8a8a8a;
