/* ==================== RESET ==================== */

html, head, body, li, ul, figure, p {
    @extend %resetPaddingMargin;
}

ol, ul {
	list-style: none;
}

input {
    outline: none;
}

a:link, a:visited {
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
    @extend %resetPaddingMargin;
    cursor: default;
}

* {
    user-select: none;
    box-sizing: border-box;
    outline:none;
}
