/* ==================== TYPEGRAPHY FONTLOAD ==================== */



@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/Myriad-Pro-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype')
}


/* ==================== Mixins'S ==================== */


// HEADER

@mixin headerLogoTitle {
    font-family: "MyriadProRegular";
    font-size: 20px;
    color: $c-w-5;
}

@mixin headerNav {
    font-family: "MyriadProRegular";
    font-size: 16px;
    color: $c-theme1;
    text-transform: uppercase;
}


// MAIN - HOME

@mixin mainInput {
    font-family: "RobotoLight";
    font-size: 56px;
}


@mixin robotoLight {
    font-family: "RobotoLight";
    font-size: 14px;
}

@mixin robotoBold {
    font-family: "RobotoBold";
    font-size: 20px;
}

// MAIN - WALL

@mixin mwsResults {
    font-family: "RobotoLight";
    font-size: 18px;
    font-weight: 100;
}

@mixin mwsResultsClass {
    font-family: "RobotoLight";
    font-size: 14px;
    font-weight: 400;
    color: $c-w-5;
}

    @mixin mwsResultsSpan {
        font-family: "RobotoBold";
        font-size: 14px;
        margin-left: 10px;
        font-weight: 700;
        color: $c-w-5;
    }


@mixin mwsH3Header {
    font-family: "MyriadProRegular";
    font-size: 22px;
    color: $c-theme2;
}

    @mixin mwsH3Item {
        font-family: "RobotoLight";
        font-size: 16px;
        color: $c-theme2;
    }

    @mixin mwsH5Item {
        font-family: "RobotoLight";
        font-size: 12px;
        color: $c-b-5;
        font-weight: 100;
    }

    @mixin mwsPItem {
        font-family: "RobotoLight";
        font-size: 12px;
        color: $c-b-4;
    }
